In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
df = pd.read_csv('order_list20190709.csv')

In [70]:
df.dtypes

#Order            int64
 Date            object
 Shop            object
 Price           object
 Status          object
 Details         object
 orderEnds       object
 Tracking        object
 Mail ID        float64
 Destination    float64
dtype: object

In [71]:
df.head()

,#Order,Date,Shop,Price,Status,Details,orderEnds,Tracking,Mail ID,Destination
0,103271516165505,08:31 Jun. 18 2019,ZIYAN Store,$ 7.32,Aguardando entrega,Seu pedido será fechado em: 70 dias 7 horas 2...,18/09/2019 01:15,,NaN,NaN
1,102715705855505,03:37 Jun. 06 2019,Bluedio official store,$ 19.79,Concluído,,,,NaN,NaN
2,102339700245505,03:05 May. 26 2019,MC-TECH Store,R$ 289.67,Concluído,,,,NaN,NaN
3,102339700255505,03:05 May. 26 2019,Godness House-jder Store,R$ 22.18,Aguardando entrega,Seu pedido será fechado em: 53 dias 10 horas ...,1/09/2019 04:12,,NaN,NaN
4,102339700265505,03:05 May. 26 2019,Blue shield electronic technology,R$ 43.98,Concluído,,,,NaN,NaN

In [72]:
df.columns

Index(['#Order', ' Date', ' Shop', ' Price', ' Status', ' Details',
       ' orderEnds', ' Tracking', ' Mail ID', ' Destination'],
      dtype='object')

In [73]:
df[' Date'] = pd.to_datetime(df[' Date'])

In [74]:
df[' orderEnds'] = df[' orderEnds'].str.replace('/','-')

In [75]:
#df[' orderEnds'] = pd.to_datetime(df[' orderEnds'], format='%d/%m/%Y')

In [76]:
df.shape

(222, 10)

In [77]:
df[' Price'].head(10).tolist()

[' $ 7.32',
 ' $ 19.79',
 ' R$ 289.67',
 ' R$ 22.18',
 ' R$ 43.98',
 ' R$ 45.32',
 ' R$ 50.98',
 ' $ 61.79',
 ' R$ 29.36',
 ' R$ 25.60']

In [78]:
df[' Price']= df[' Price'].str.strip()
df_aux = df[' Price'].str.split(" ", n=1, expand=True)

In [79]:
df['Currency'] = df_aux[0]
df[' Price'] = df_aux[1]

In [80]:
df[' Price'] = pd.to_numeric(df[' Price'])

x=0
tam_df = len(df)
while x < (tam_df):
    df['Currency'][x] = (df[' Price'][x].split(' ',2)[1])
    df[' Price'][x] = (df[' Price'][x].split(' ',2)[2])
    x+=1

df[' Price'] = pd.to_numeric(df[' Price'])

In [81]:
df.dtypes

#Order                   int64
 Date           datetime64[ns]
 Shop                   object
 Price                 float64
 Status                 object
 Details                object
 orderEnds              object
 Tracking               object
 Mail ID               float64
 Destination           float64
Currency                object
dtype: object

In [82]:
df['Day'] = df[' Date'].dt.day
df['Month'] = df[' Date'].dt.month
df['Year'] = df[' Date'].dt.year
df['Buy_time'] = df[' Date'].dt.strftime('%H-%M')

In [83]:
df.head()

,#Order,Date,Shop,Price,Status,Details,orderEnds,Tracking,Mail ID,Destination,Currency,Day,Month,Year,Buy_time
0,103271516165505,2019-06-18 08:31:00,ZIYAN Store,7.32,Aguardando entrega,Seu pedido será fechado em: 70 dias 7 horas 2...,18-09-2019 01:15,,NaN,NaN,$,18,6,2019,08-31
1,102715705855505,2019-06-06 03:37:00,Bluedio official store,19.79,Concluído,,,,NaN,NaN,$,6,6,2019,03-37
2,102339700245505,2019-05-26 03:05:00,MC-TECH Store,289.67,Concluído,,,,NaN,NaN,R$,26,5,2019,03-05
3,102339700255505,2019-05-26 03:05:00,Godness House-jder Store,22.18,Aguardando entrega,Seu pedido será fechado em: 53 dias 10 horas ...,1-09-2019 04:12,,NaN,NaN,R$,26,5,2019,03-05
4,102339700265505,2019-05-26 03:05:00,Blue shield electronic technology,43.98,Concluído,,,,NaN,NaN,R$,26,5,2019,03-05

In [84]:
df.dtypes

#Order                   int64
 Date           datetime64[ns]
 Shop                   object
 Price                 float64
 Status                 object
 Details                object
 orderEnds              object
 Tracking               object
 Mail ID               float64
 Destination           float64
Currency                object
Day                      int64
Month                    int64
Year                     int64
Buy_time                object
dtype: object

In [85]:
df.columns.tolist()

['#Order',
 ' Date',
 ' Shop',
 ' Price',
 ' Status',
 ' Details',
 ' orderEnds',
 ' Tracking',
 ' Mail ID',
 ' Destination',
 'Currency',
 'Day',
 'Month',
 'Year',
 'Buy_time']

In [86]:
df = df.filter(['#Order', 'Day',  'Month',  'Year', 'Buy_time', 'Currency',  ' Price', ' Status', ' Shop', ' Details', ' orderEnds', ' Date' ])

In [87]:
map = {'#Order':'Order',
 ' Price':'Price',
 ' Status':'Status',
 ' Shop':'Store',
 ' Details':'Details',
 ' orderEnds':'orderEnds',
 ' Date':'Date'}

In [88]:
df.rename(map, axis='columns', inplace=True)

In [89]:
df.head()

,Order,Day,Month,Year,Buy_time,Currency,Price,Status,Store,Details,orderEnds,Date
0,103271516165505,18,6,2019,08-31,$,7.32,Aguardando entrega,ZIYAN Store,Seu pedido será fechado em: 70 dias 7 horas 2...,18-09-2019 01:15,2019-06-18 08:31:00
1,102715705855505,6,6,2019,03-37,$,19.79,Concluído,Bluedio official store,,,2019-06-06 03:37:00
2,102339700245505,26,5,2019,03-05,R$,289.67,Concluído,MC-TECH Store,,,2019-05-26 03:05:00
3,102339700255505,26,5,2019,03-05,R$,22.18,Aguardando entrega,Godness House-jder Store,Seu pedido será fechado em: 53 dias 10 horas ...,1-09-2019 04:12,2019-05-26 03:05:00
4,102339700265505,26,5,2019,03-05,R$,43.98,Concluído,Blue shield electronic technology,,,2019-05-26 03:05:00

In [90]:
df['Status'] = df['Status'].str.strip()
df['Store'] = df['Store'].str.strip()
df['Details'] = df['Details'].str.strip()
df['orderEnds'] = df['orderEnds'].str.strip()

In [91]:
df['orderEnds'] = pd.to_datetime(df['orderEnds'])

## Pendencias

- ~~Converter data de orderEnds~~
- ~~Acertar ordem das colunas~~
- ~~retirar os espaços antes dos nomes das colunas~~
- ~~verficar se ha espaços antes das strings em todo o dataset~~
- Importar planilhas de conversão de moeda
- converter para Reais
- converter para Dolares

In [92]:
df.head()

,Order,Day,Month,Year,Buy_time,Currency,Price,Status,Store,Details,orderEnds,Date
0,103271516165505,18,6,2019,08-31,$,7.32,Aguardando entrega,ZIYAN Store,Seu pedido será fechado em: 70 dias 7 horas 20...,2019-09-18 01:15:00,2019-06-18 08:31:00
1,102715705855505,6,6,2019,03-37,$,19.79,Concluído,Bluedio official store,,NaT,2019-06-06 03:37:00
2,102339700245505,26,5,2019,03-05,R$,289.67,Concluído,MC-TECH Store,,NaT,2019-05-26 03:05:00
3,102339700255505,26,5,2019,03-05,R$,22.18,Aguardando entrega,Godness House-jder Store,Seu pedido será fechado em: 53 dias 10 horas 1...,2019-01-09 04:12:00,2019-05-26 03:05:00
4,102339700265505,26,5,2019,03-05,R$,43.98,Concluído,Blue shield electronic technology,,NaT,2019-05-26 03:05:00

In [93]:
tab_EUR = pd.read_csv('EUR_BRL_2009-2019.csv', parse_dates = ['Date'])
tab_EUR['EURBRL'] = tab_EUR['EURBRL'].str.replace(',','.')
tab_EUR['EURBRL'] = pd.to_numeric(tab_EUR['EURBRL'])

In [94]:
tab_USD = pd.read_csv('USD_BRL_2009-2019.csv', parse_dates = ['Date'])
tab_USD['USDBRL'] = tab_USD['USDBRL'].str.replace(',','.')
tab_USD['USDBRL'] = pd.to_numeric(tab_USD['USDBRL'])

In [95]:
tab_convertion = tab_EUR.merge(tab_USD)
tab_convertion.rename({'Date':'DATE'}, inplace=True, axis='columns')

In [96]:
tab_convertion

           DATE    EURBRL   USDBRL
0    2009-01-01  3.252670  2.32400
1    2009-02-01  3.219233  2.31300
2    2009-05-01  3.022419  2.21650
3    2009-06-01  2.887222  2.13900
4    2009-07-01  2.957207  2.17250
5    2009-08-01  3.033338  2.21460
6    2009-09-01  3.017418  2.24310
7    2009-12-01  3.034710  2.27200
8    2009-01-13  2.968880  2.24830
9    2009-01-14  3.044346  2.30510
10   2009-01-15  3.056077  2.32260
11   2009-01-16  3.042723  2.29000
12   2009-01-19  2.988021  2.28250
13   2009-01-20  2.979656  2.31250
14   2009-01-21  2.993558  2.30380
15   2009-01-22  2.991080  2.30030
16   2009-01-23  2.982209  2.30020
17   2009-01-26  2.985047  2.26380
18   2009-01-27  2.995387  2.26700
19   2009-01-28  2.940984  2.23700
20   2009-01-29  2.898336  2.24000
21   2009-01-30  2.904108  2.26300
22   2009-02-02  2.997774  2.34000
23   2009-03-02  3.001407  2.30700
24   2009-04-02  2.939581  2.28690
25   2009-05-02  2.927994  2.29000
26   2009-06-02  2.919467  2.25930
27   2009-09-02  2.901991  2.23850
28   2009-10-02  2.922178  2.26350
29   2009-11-02  2.906329  2.25980
...         ...       ...      ...
3300 2019-05-31  4.385200  3.92500
3301 2019-01-06  4.383800  3.92500
3302 2019-02-06  4.383800  3.92570
3303 2019-03-06  4.369900  3.88560
3304 2019-04-06  4.338600  3.85510
3305 2019-05-06  4.358300  3.88090
3306 2019-06-06  4.375500  3.87990
3307 2019-07-06  4.398500  3.87750
3308 2019-08-06  4.398500  3.87750
3309 2019-09-06  4.398500  3.87800
3310 2019-10-06  4.397500  3.88600
3311 2019-11-06  4.369100  3.85660
3312 2019-12-06  4.367600  3.86740
3313 2019-06-13  4.341800  3.84970
3314 2019-06-14  4.370000  3.89650
3315 2019-06-15  4.368800  3.88770
3316 2019-06-16  4.368800  3.89600
3317 2019-06-17  4.365300  3.88850
3318 2019-06-18  4.323300  3.86100
3319 2019-06-19  4.314000  3.83895
3320 2019-06-20  4.336300  3.83930
3321 2019-06-21  4.345700  3.82220
3322 2019-06-22  4.345700  3.82200
3323 2019-06-23  4.345700  3.82200
3324 2019-06-24  4.362400  3.82710
3325 2019-06-25  4.373200  3.84700
3326 2019-06-26  4.372600  3.84440
3327 2019-06-27  4.343500  3.81950
3328 2019-06-28  4.376300  3.84980
3329 2019-06-29  4.377000  3.85100

[3330 rows x 3 columns]

In [97]:
reais = df.loc[(df['Currency'] == 'R$')]
dolar = df.loc[(df['Currency'] == '$')]
euro= df.loc[(df['Currency'] == '€')]

In [98]:
#tab_convertion.loc[([df['Day'] & df['Month'] &df['Year'] == tab_convertion['DATE']])]
#tab_convertion.loc[([df['Date'] == tab_convertion['DATE']])]

In [106]:
reais.describe()

629.4000000000001

In [107]:
dolar.describe()

3105.17

In [108]:
euro.describe()

10.08

In [102]:
df.to_csv('Orderlist_cleaned.csv')

In [103]:
#df['Price'].sort_values(ascending=False)

2      289.67
39     282.96
52     168.99
220    104.00
19      70.07
12      69.03
47      67.82
201     66.99
7       61.79
194     58.16
6       50.98
5       45.32
86      45.30
4       43.98
10      42.95
93      42.79
113     42.55
82      41.12
50      37.08
61      35.11
59      35.11
204     33.99
31      33.94
37      31.28
221     29.90
26      29.76
8       29.36
77      27.99
81      27.75
42      26.66
        ...
33       3.13
198      2.98
171      2.98
178      2.95
170      2.88
188      2.84
164      2.80
182      2.72
116      2.69
98       2.62
149      2.60
200      2.50
191      2.50
168      2.48
195      2.46
152      2.28
176      2.12
175      2.06
183      1.78
132      1.74
142      1.65
143      1.56
154      1.56
115      1.53
179      1.35
180      1.35
177      1.33
172      1.22
187      1.20
21       0.86
Name: Price, Length: 222, dtype: float64

In [109]:
dolar['Price'].sum()

3105.17

In [105]:
df.shape

(222, 12)

In [117]:
tab_convertion['USDBRL'].mean() * dolar['Price'].sum()

8183.489318048358