# Cleaning Data from Aliexpress Purchase Orders

## Extracted data with "Aliexpress helper" Chrome Plugin

In [1]:
import numpy as np
import pandas as pd

## Import Order list csv

In [2]:
df = pd.read_csv('order_list20190709.csv')

## Import CSV from 2009-2019 EUR/BRL rate

In [3]:
tab_EUR = pd.read_csv('EUR_BRL_2009-2019.csv')
tab_EUR['EURBRL'] = tab_EUR['EURBRL'].str.replace(',','.') #necessary to replace to convert string to float
tab_EUR['EURBRL'] = pd.to_numeric(tab_EUR['EURBRL']) #convert the rate from object to float

## Import CSV from 2009-2019 USD/BRL rate

In [4]:
tab_USD = pd.read_csv('USD_BRL_2009-2019.csv')
tab_USD['USDBRL'] = tab_USD['USDBRL'].str.replace(',','.') #necessary to replace to convert string to float
tab_USD['USDBRL'] = pd.to_numeric(tab_USD['USDBRL']) #convert the rate from object to float

the function merge will put together tab_USD and tab_EUR in one dataframe

**tab_EUR:** ['Date', 'EURBRL']

**tab_USD:** ['Date', 'USDBRL']

**after merge:**  ['Date', 'EURBRL', 'USDBRL']

In [5]:
tab_convertion = tab_EUR.merge(tab_USD)

### Prepare the dataset with exchage rates to merge with the order list dataset

In [6]:
tab_convertion['Date']= pd.to_datetime(tab_convertion['Date'], format='%d/%m/%Y') #convert from object to date

In [7]:
dfCurrency = pd.DataFrame(columns=['Date']) #Create a new dataset only with one column 'Date', the values are null

In [8]:
#Fill the column 'Date' with dates from 01-jan-2009 to 29-jun-2019,
    #the tab_convertion doesn't have dates from Saturday, Sunday and Holidays

dfCurrency['Date'] = pd.date_range('01/01/2009','29/06/2019')

In [9]:
#Merge, put on dfCurrency new columns with EURBRL and USBBRL rates, where the tab_convertion['Date'] doesn't exist, fill null
dfCurrency = pd.merge(dfCurrency, tab_convertion, on='Date', how = 'left')

In [10]:
#Check how many days is added
print(len(tab_convertion))
print(len(dfCurrency))

3330
3832

In [11]:
#Fill the nulls with the last Friday rate
dfCurrency['USDBRL'].fillna(method='pad', inplace = True)
dfCurrency['EURBRL'].fillna(method='pad', inplace = True)

In [12]:
dfCurrency.head(10)

        Date    EURBRL  USDBRL
0 2009-01-01  3.252670  2.3240
1 2009-01-02  3.219233  2.3130
2 2009-01-03  3.219233  2.3130
3 2009-01-04  3.219233  2.3130
4 2009-01-05  3.022419  2.2165
5 2009-01-06  2.887222  2.1390
6 2009-01-07  2.957207  2.1725
7 2009-01-08  3.033338  2.2146
8 2009-01-09  3.017418  2.2431
9 2009-01-10  3.017418  2.2431

## DF Aliexpress Orders

In [13]:
df.dtypes

#Order            int64
 Date            object
 Shop            object
 Price           object
 Status          object
 Details         object
 orderEnds       object
 Tracking        object
 Mail ID        float64
 Destination    float64
dtype: object

In [14]:
df.head(20)

,#Order,Date,Shop,Price,Status,Details,orderEnds,Tracking,Mail ID,Destination
0,103271516165505,08:31 Jun. 18 2019,ZIYAN Store,$ 7.32,Aguardando entrega,Seu pedido será fechado em: 70 dias 7 horas 2...,18/09/2019 01:15,,NaN,NaN
1,102715705855505,03:37 Jun. 06 2019,Bluedio official store,$ 19.79,Concluído,,,,NaN,NaN
2,102339700245505,03:05 May. 26 2019,MC-TECH Store,R$ 289.67,Concluído,,,,NaN,NaN
3,102339700255505,03:05 May. 26 2019,Godness House-jder Store,R$ 22.18,Aguardando entrega,Seu pedido será fechado em: 53 dias 10 horas ...,1/09/2019 04:12,,NaN,NaN
4,102339700265505,03:05 May. 26 2019,Blue shield electronic technology,R$ 43.98,Concluído,,,,NaN,NaN
5,102339700275505,03:05 May. 26 2019,Fodsports Official Store,R$ 45.32,Concluído,,,,NaN,NaN
6,102339700235505,03:05 May. 26 2019,SH Electronics Store,R$ 50.98,Concluído,,,,NaN,NaN
7,100690532105505,18:07 Apr. 13 2019,Shenzhen QSS Electronics Co. Ltd,$ 61.79,Concluído,,,,NaN,NaN
8,100216642135505,13:30 Apr. 01 2019,UPaitou Official Store,R$ 29.36,Concluído,,,,NaN,NaN
9,100216642145505,13:30 Apr. 01 2019,TTOMYYOUG Official Store,R$ 25.60,Concluído,,,,NaN,NaN
10,100216642095505,13:30 Apr. 01 2019,Rose Bag Store,R$ 42.95,Terminado,,,,NaN,NaN
11,100216642125505,13:30 Apr. 01 2019,Warming Car Parts Store,R$ 10.33,Concluído,,,,NaN,NaN
12,99712791175505,17:26 Mar. 10 2019,Star Pets Product Workshop,R$ 69.03,Terminado,,,,NaN,NaN
13,507447644845505,03:11 Dec. 13 2018,OyOCycle Offcial Store,$ 15.99,Concluído,,,,NaN,NaN
14,507261224355505,02:07 Nov. 12 2018,Shop3673036 Store,$ 24.30,Concluído,,,,NaN,NaN
15,507107925225505,10:43 Nov. 11 2018,Vifocal Technology Co. Ltd,$ 24.81,Concluído,,,,NaN,NaN
16,507107925235505,10:43 Nov. 11 2018,Xiaomi MC Store,$ 20.99,Concluído,,,,NaN,NaN
17,506997340235505,06:42 Oct. 29 2018,Mobile Phone Accessory Wonderland Store,€ 3.57,Concluído,,,,NaN,NaN
18,506844000855505,11:53 Oct. 22 2018,Mobile Phone Accessory Wonderland Store,€ 6.51,Concluído,,,,NaN,NaN
19,506763451375505,19:35 Oct. 09 2018,motorcycle-888 Store,$ 70.07,Concluído,,,,NaN,NaN

In [15]:
df.columns

Index(['#Order', ' Date', ' Shop', ' Price', ' Status', ' Details',
       ' orderEnds', ' Tracking', ' Mail ID', ' Destination'],
      dtype='object')

In [16]:
df[' Date'] = pd.to_datetime(df[' Date']) #convert to date

In [17]:
df.shape

(222, 10)

In [18]:
df[' Price'].head(10).tolist() #here is possible to see that all entrys have a blank space before the Price

[' $ 7.32',
 ' $ 19.79',
 ' R$ 289.67',
 ' R$ 22.18',
 ' R$ 43.98',
 ' R$ 45.32',
 ' R$ 50.98',
 ' $ 61.79',
 ' R$ 29.36',
 ' R$ 25.60']

### Convert df['Price'] to float
First, we habe to clean the first blank space

In [19]:
df[' Price']= df[' Price'].str.strip()

then, split the Currency and numbers

In [20]:
df_aux = df[' Price'].str.split(' ', n = 1, expand = True) #create a auxiliar dataframe with a list [Currency,Number]

In [21]:
df['Currency'] = df_aux[0] #Save the Currency with a new column in main df
df[' Price'] = df_aux[1] #Overwrite the column ' Price' with numbers only

In [22]:
df[' Price'] = pd.to_numeric(df[' Price']) #convert to float

In [23]:
df.dtypes

#Order                   int64
 Date           datetime64[ns]
 Shop                   object
 Price                 float64
 Status                 object
 Details                object
 orderEnds              object
 Tracking               object
 Mail ID               float64
 Destination           float64
Currency                object
dtype: object

### Rename and reorder columns

In [24]:
df.columns.tolist()

['#Order',
 ' Date',
 ' Shop',
 ' Price',
 ' Status',
 ' Details',
 ' orderEnds',
 ' Tracking',
 ' Mail ID',
 ' Destination',
 'Currency']

Use df.filter to select the important columns and re-order

In [25]:
df = df.filter(['#Order', 'Currency',  ' Price', ' Status', ' Shop', ' Details', ' orderEnds', ' Date' ])

In [26]:
renomear = {'#Order':'Order',
 ' Price':'Price',
 ' Status':'Status',
 ' Shop':'Store',
 ' Details':'Details',
 ' orderEnds':'orderEnds',
 ' Date':'Date'}

In [27]:
df.rename(renomear, axis='columns', inplace=True)

In [28]:
df.head()

,Order,Currency,Price,Status,Store,Details,orderEnds,Date
0,103271516165505,$,7.32,Aguardando entrega,ZIYAN Store,Seu pedido será fechado em: 70 dias 7 horas 2...,18/09/2019 01:15,2019-06-18 08:31:00
1,102715705855505,$,19.79,Concluído,Bluedio official store,,,2019-06-06 03:37:00
2,102339700245505,R$,289.67,Concluído,MC-TECH Store,,,2019-05-26 03:05:00
3,102339700255505,R$,22.18,Aguardando entrega,Godness House-jder Store,Seu pedido será fechado em: 53 dias 10 horas ...,1/09/2019 04:12,2019-05-26 03:05:00
4,102339700265505,R$,43.98,Concluído,Blue shield electronic technology,,,2019-05-26 03:05:00

In [29]:
df.dtypes

Order                 int64
Currency             object
Price               float64
Status               object
Store                object
Details              object
orderEnds            object
Date         datetime64[ns]
dtype: object

In [30]:
#Remove the first blank character
df['Status'] = df['Status'].str.strip()
df['Store'] = df['Store'].str.strip()
df['Details'] = df['Details'].str.strip()
df['orderEnds'] = df['orderEnds'].str.strip()

In [31]:
#convert to Date format
df['orderEnds'] = pd.to_datetime(df['orderEnds'])

In [32]:
df.head()

,Order,Currency,Price,Status,Store,Details,orderEnds,Date
0,103271516165505,$,7.32,Aguardando entrega,ZIYAN Store,Seu pedido será fechado em: 70 dias 7 horas 20...,2019-09-18 01:15:00,2019-06-18 08:31:00
1,102715705855505,$,19.79,Concluído,Bluedio official store,,NaT,2019-06-06 03:37:00
2,102339700245505,R$,289.67,Concluído,MC-TECH Store,,NaT,2019-05-26 03:05:00
3,102339700255505,R$,22.18,Aguardando entrega,Godness House-jder Store,Seu pedido será fechado em: 53 dias 10 horas 1...,2019-01-09 04:12:00,2019-05-26 03:05:00
4,102339700265505,R$,43.98,Concluído,Blue shield electronic technology,,NaT,2019-05-26 03:05:00

In [33]:
#Select only date, without time
df['Date'] = df['Date'].dt.date

In [34]:
#the previously line convert automatically to object, so is necessary to convert to date format one more time
df['Date'] = pd.to_datetime(df['Date'])

In [35]:
dfCurrency.dtypes

Date      datetime64[ns]
EURBRL           float64
USDBRL           float64
dtype: object

In [36]:
df.dtypes

Order                 int64
Currency             object
Price               float64
Status               object
Store                object
Details              object
orderEnds    datetime64[ns]
Date         datetime64[ns]
dtype: object

## Merge df with df Currency

In [37]:
df_merged = pd.merge(df, dfCurrency, on='Date', how = 'left')

In [38]:
#If Currency == $ multiply Price * USDBRL, else keep Price, store in conv_dolar var
conv_dolar = np.where(df_merged['Currency']=='$', df_merged['Price'] * df_merged['USDBRL'],df_merged['Price'])

In [39]:
#If Currency == Euro multiply Price * EURBRL, else execute the previously line
df_merged['Reais'] = np.where(df_merged['Currency']=='€', df_merged['Price'] * df_merged['EURBRL'], conv_dolar)

In [40]:
#checking if there is a null value
df_merged.loc[df_merged['Reais'].isna()]

Empty DataFrame
Columns: [Order, Currency, Price, Status, Store, Details, orderEnds, Date, EURBRL, USDBRL, Reais]
Index: []

## Save into a new CSV

In [41]:
df_merged.to_csv('Orderlist20190709_cleaned.csv', index=False )